.searchBorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .line {
    margin: 2% 10%;
    width: 85%;
    color: black;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
  }
  .search {
    margin: 2% 10%;
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .magnifier {
      position: absolute;
      z-index: 1;
      font-size: 20px;
      color: rgb(123, 165, 39);
      padding: 15px;
      padding-left: 20px;
    }
    .sch {
      padding: 0px 5px 0px 40px;
      width: 100%;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      outline: navajowhite;
      border-top: 6px solid rgb(123, 165, 39);
      border-left: 10px solid rgb(123, 165, 39);
      border-bottom: 6px solid rgb(123, 165, 39);
      border-right: 10px solid rgb(123, 165, 39);
    }
    .close {
      display: flex;
      flex-direction: row;
      justify-content: end;

      .fa-times {
        margin-right: 2.5%;
        position: absolute;
        z-index: 1;
        font-size: 50px;
        color: #0c0c0c;
      }
    }
  }
}
